<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dashboard</title>
    </head>

    <body style="background: linear-gradient(to right, rgb(34, 139, 34), rgb(255, 215, 0)); border: none;">
        <h1 style="font-family: 'Lucida Console', Monaco, monospace;">
            Your To-Do List
        </h1>
        <!-- Form to Add a New To-Do -->
        <form action="{{ url_for('add_todo') }}" method="POST">
            <input style="font-family: 'Lucida Console', Monaco, monospace;" type="text" name="task" placeholder="New To-Do" required />
            <button style="font-family: 'Lucida Console', Monaco, monospace;" type="submit">
                Add
            </button>
        </form>
        <!-- Display To-Do List -->

        <p style="font-family: 'Lucida Console', Monaco, monospace;">
            <strong>
                User ID:
            </strong> {{ user_id }}
        </p>

        <p style="font-family: 'Lucida Console', Monaco, monospace;">
            <strong>
                Username:
            </strong> {{ username }}
        </p>


        <ul style="font-family: 'Lucida Console', Monaco, monospace;">
            {% for todo in todos %}
            <li>
                {{ todo.task }} 
                {% if todo.done %}
                <strong>(Completed)</strong>
                {% else %}
                <strong>(Pending)</strong>
                {% endif %}
    
                <!-- Delete Button -->
                <form action="{{ url_for('delete_todo', todo_id=todo.id) }}" method="POST" style="display:inline;">
                    <button style="font-family: 'Lucida Console', Monaco, monospace;" type="submit">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>