<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background: linear-gradient(to right, rgb(34, 139, 34), rgb(255, 215, 0)); height: 100vh; display: flex; flex-direction: column; justify-content: space-between; margin: 0;">

    <header class="bg-dark text-white text-center p-4">
        <h1 style="font-family: 'Lucida Console', Monaco, monospace;">Task Planner</h1>
    </header>

    <main class="d-flex justify-content-center align-items-center flex-grow-1">
        <div>
            <a href='/login'>
                <button class="btn btn-primary mx-2" style="background: linear-gradient(to right, black, grey); border: none; font-family: 'Lucida Console', Monaco, monospace; width: 150px;">
                    Login
                </button>
            </a>
            <a href='/signup'>
                <button class="btn btn-primary mx-2" style="background: linear-gradient(to right, black, grey); border: none; font-family: 'Lucida Console', Monaco, monospace; width: 150px;">
                    Sign Up
                </button>
            </a>
        </div>
    </main>

    <footer class="bg-dark text-white text-center p-3">
        <p style="margin: 0;">&copy; 2024</p>
    </footer>

</body>
</html>