<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Document
    </title>

    <link 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    rel="stylesheet"
    />
</head>

<body style="background: linear-gradient(to right, cyan, rgb(255, 192, 237)); border: none;">
    <div>
        <header class="bg-dark text-white text-center p-4">
            <h1>
                To-Do
            </h1>
    </div>
    
    <div class="mt-4">
        <button class="btn btn-primary mx-2" style="background: linear-gradient(to right, black, grey); border: none;">
            Click me
        </button>
    </div>

    <div>
        <footer class="bg-dark text-white text-center p-3" style="position: fixed; bottom: 0; width: 100%;">
            <p>
                &copy; 2020
            </p>
        </footer>
    </div>
    
</body>
</html>