<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Home
    </title>

    <link rel="icon" type="image/x-icon" href="/Favicon/favicon-32x32.png">

    <link 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    rel="stylesheet"
    />
</head>

<body style="background: linear-gradient(to right, rgb(34, 139, 34), rgb(255, 215, 0)); border: none;">
    <div>
        <header class="bg-dark text-white text-center p-4">
        <!-- style="position: fixed; top: 0; width: 100%;"> -->
            <h1>
                To-Do
            </h1>
            <a href="login.html">
                <button class="btn btn-primary mx-2" style="background: linear-gradient(to right, black, grey); border: none; position: fixed; right: 0; width: 10%; top: 20px;">
                    Login
                </button>
            </a>
        </header>
    </div>
    
    <div class="mt-4">
        <button class="btn btn-primary mx-2" style="background: linear-gradient(to right, black, grey); border: none; ">
            Click me
        </button>
    </div>

    <div>
        <footer class="bg-dark text-white text-center p-3" style="position: fixed; bottom: 0; width: 100%;">
            <p>
                &copy; 2024
            </p>
        </footer>
    </div>
    
</body>
</html>