<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Login
    </title>

    <link 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    rel="stylesheet"
    />
</head>

<body style="background: linear-gradient(to right, rgb(34, 139, 34), rgb(255, 215, 0)); border: none;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card mt-5" style="background: rgba(247, 36, 12, 0);">

                    <div class="card-header text-center" style="font-family: 'Lucida Console', Monaco, monospace; padding-top: 20px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>Login</h1>
                            <a href="index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" fill="currentColor" class="bi bi-x">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="POST">
                            <div class="form-group">
                                <input style="background: rgba(131, 130, 130, 0.553); border: none; font-family: 'Lucida Console', Monaco, monospace;" type="text" class="form-control" id="username" name="username" placeholder="username" required />
                            </div>
                            <div class="form-group">

                                <input style="background: rgba(131, 130, 130, 0.553); border: none; font-family: 'Lucida Console', Monaco, monospace;" type="password" class="form-control" id="password" name="password" placeholder="password" required />
                            </div>
                            <button style="background: rgba(210, 206, 206, 0.651); border: none;" type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>